@import 'https://huseyin31625.github.io/font.css';
html {
  font-family: 'Montserrat', sans-serif;
  color-scheme: light dark;
}
a[role=button] {
  border-color: red;
  color: white;
  padding: 10px 16px;
  background-color: #AA0000AA;
  font-size: 18px;
}
div.header {
  background-color: white;
  color: black;
}
.profile {
  border-radius: 50%;
  width: 64px;
  height: 64px;
}
.password {
  -webkit-text-security: disc !important;
}
@media-phone {
  html {
    color-scheme: dark;
  }
}
