@import 'https://huseyin31625.github.io/font.css';
html {
  font-family: 'Montserrat', sans-serif;
  color-scheme: light dark;
}
a[role=button] {
  border-color: red;
  color: white;
  padding: 10px 16px;
  background-color: #AA0000AA;
  font-size: 18px;
  user-select: none;
}
a[role=button]:hover {
  background-color: red;
}
div.header {
  background-color: white;
  color: black;
}
.profile {
  border-radius: 50%;
  width: 64px;
  height: 64px;
}
.password {
  -webkit-text-security: disc !important;
}
::selection {
  color: white;
  background-color: red;
}
.itembtn {
  font-size: 18px;
  font-family: inherit;
  height: 32;
  aspect-ratio: 1 / 1;
}
loader {
  display: inline-block;
  width: 32px;
  height: 32px;
  border: 3px solid #AAAAAAAA;
  border-top: 3px solid #AAAAAA;
}
