html {
  font-family: sans-serif;
  color-scheme: light dark;
}
a[role=button] {
  border-color: red;
  color: white;
  padding: 10px 16px;
  background-color: #AA0000AA;
  font-size: 18px;
}
div.header {
  background-color: white;
  color: black;
}
@font-face {
}
